#Titulo{
    text-align: center;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26 px;
    font-weight: bold;
    text-decoration: underline;


}
body{
background-color: black;
}
ol{
    text-align: center;
border-style: solid;
border-radius: 11 px;
border-color: gold;
margin: 50 px;


}
li{
    color: white;
    margin: 100 px;
    
display: inline;



}
div{
    display: flex;
    border-style: none;
justify-content: center;
}
