body{background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
    }
    ol{
        display: flex;
        flex-direction: row;
       margin: auto;
       align-items: center;
       justify-content: center;
        text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: gold;
    margin: 50 px;
    background-color: rgba(255, 217, 0, 0.753);
    height: 22px;
    font-size: 22px;
    margin-bottom: 20px;
    
    }
    a{text-decoration: none;
    color: white;}
a:visited {color: white;}

li:hover{
   
    background-color: gold;
}
li{
    
    color: white;
    margin: 100px;
    list-style-type: none;
    }
.contenido{
    border-style: solid;
    border-color: gold;
    text-align: center;
}