#Titulo{
    text-align: center;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;



}
body{
background-color: black;
font-family: 'Dosis', sans-serif;
}
ol{
    display: flex;
    flex-direction: row;
   margin: auto;
   align-items: center;
   justify-content: center;
    text-align: center;
border-style: solid;
border-radius: 10px;
border-color: gold;
margin: 50 px;
background-color: rgba(255, 217, 0, 0.753);
height: 22px;
font-size: 22px;
margin-bottom: 20px;

}
li:hover{
   
    background-color: gold;
}
li{
    
    color: white;
    margin: 100px;
    list-style-type: none;
    




}

div.imagenes{
    display: flex;
    justify-content: space-between;
    
    border-style: solid;
    border-color: gold;
    margin-bottom: 2%;
}


.imagenes>p{
    color: white;
    text-align: center;
    padding-left: 270px;
    padding-top: 60px;
   font-size: 22px;
}
img{
    /*height: 490px;
width: 490px;*/
height: 100%;
width: 490px;
}
a{text-decoration: none;}
a:visited {color: white;}
audio{display: flex;
justify-content:center;
margin-left: 39%;
}
#musica{color: white;
text-align: center;}